<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.easybbsweb.mapper.ForumArticalMapper">
    <insert id="insertArtical">
        insert into forum_article (article_id, p_board_id, p_board_name, user_id, nick_name, user_ip_address, title, cover, content, markdown_content, editor_type,summary, post_time, last_update_time,
                                   read_count,good_count,comment_count,
                                   top_type, attachment_type, status)
    value (#{articleId},#{pBoardId},#{pBoardName},
       #{userId},#{nickName},#{userIpAddress},
       #{title},#{cover},#{content},#{markDownContent},#{editorType},#{summary},#{postTime},
      #{lastUpdateTime},#{readCount},#{goodCount},#{commentCount},#{topType},#{attachmentType},#{status}
        )
    </insert>

    <update id="updateArticalByArticalId">
        update forum_article
    <set>
        <if test="pBoardId!=null and pBoardId!=''">
            ,p_board_id=#{pBoardId}
        </if><if test="pBoardName!=null and pBoardName!=''">
            ,p_board_name=#{pBoardName}
        </if><if test="title!=null and title!=''">
            ,title=#{title}
        </if><if test="cover!=null and cover!=''">
            ,cover=#{cover}
        </if><if test="content!=null and content!=''">
            ,content=#{content}
        </if><if test="markDownContent!=null and markDownContent!=''">
            ,mark_down_content=#{markDownContent}
        </if>
        <if test="editorType!=null ">
            ,editor_type=#{editorType}
        </if>
        <if test="summary!=null and summary!=''">
            ,summary=#{summary}
        </if>
        <if test="lastUpdateTime!=null">
            ,last_update_time=#{lastUpdateTime}
        </if>
        <if test="readCount!=null">
            ,read_count=#{readCount}
        </if>
        <if test="goodCount!=null">
            ,good_count=#{goodCount}
        </if>
        <if test="commentCount!=null">
            ,comment_count=#{commentCount}
        </if>
        <if test="topType!=null">
            ,top_type=#{topType}
        </if>
        <if test="attachmentType!=null">
            ,attachment_type=#{attachmentType}
        </if><if test="status!=null">
            ,status=#{status}
        </if>
        <where>
            article_id=#{articleId}
        </where>
    </set>
    </update>

    <select id="selectAllModulesOrdered" resultType="com.example.easybbsweb.domain.entity.Article">
        select * from forum_article
<if test="orderType!=null">
    <if test="orderType==1">
        order by post_time;
    </if>
    <if test="orderType==2">
        order by post_time;
    </if>
</if>
    </select>

    <select id="selectBoardsWithOrder" resultType="com.example.easybbsweb.domain.entity.Article">
        select *,(good_count+read_count+comment_count) hot_count
        from forum_article
        <where>
            <if test="pBoardName!='' and pBoardName!=''">
                 p_board_name=#{pBoardName}
            </if>
        </where>
            <if test="orderType==0">
                order by hot_count desc
            </if>
            <if test="orderType==1">
                order by post_time desc
            </if>
            <if test="orderType==2">
                order by last_update_time desc
            </if>

    </select>

    <select id="searchAllModules" resultType="com.example.easybbsweb.domain.entity.Article">
        select *,(good_count+read_count+comment_count) hot_count from forum_article where title like #{keyWord} or
            summary like #{keyWord}
    <if test="orderType==null or orderType==0">
        order by  hot_count desc
    </if>
    <if test="orderType==1">
        order by post_time desc
    </if>
    <if test="orderType==2">
        order by last_update_time
    </if>
    </select>


</mapper>