<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.easybbsweb.mapper.UserInfoMapper">
    <select id="selectAll" resultType="com.example.easybbsweb.domain.entity.UserInfo">
        select * from user_info;
    </select>
    <insert id="insertUser">
        insert into user_info(
                              user_id, nick_name, email,
                              password, sex, join_time,
                              last_login_time, last_login_ip,
                              last_login_ip_address, total_integral,
                              current_integral, status
                              )
        value (#{userId}, #{nickName},
               #{email}, #{password},
               #{sex}, #{joinTime},
               #{lastLoginTime},
               #{lastLoginIp},
               #{lastLoginIpAddress},#{ totalIntegral},
               #{currentIntegral}, #{status});
    </insert>

<!--    public Integer updateUserByNickName(UserInfo userInfo);-->
    <update id="updateUserByNickName">
        update user_info
        <set>
            <if test="email!=null and email!=''">
                ,email=#{email}
            </if>
            <if test="password!=null and password!=''">
                ,password=#{password}
            </if>
            <if test="sex!=null and sex!=-1">
                ,sex=#{sex}
            </if>
            <if test="lastLoginTime!=null">
                ,last_login_time=#{lastLoginTime}
            </if>
            <if test="lastLoginIp!=null and lastLoginIp!=''">
                ,last_login_ip=#{lastLoginIp}
            </if>
            <if test="lastLoginIpAddress!=null and lastLoginIpAddress!=''">
                ,last_login_ip_address=#{lastLoginIpAddress}
            </if>
            <if test=" totalIntegral!=null and  totalIntegral!=-1">
                ,total_integral=#{ totalIntegral}
            </if>
            <if test=" currentIntegral!=null and  currentIntegral!=-1">
                ,current_integral=#{ currentIntegral}
            </if>
        </set>
        where nick_name=#{nickName}
    </update>
<!--    //同理-->
<!--    public Integer updateUserByUserId(UserInfo userInfo);-->
    <update id="updateUserByUserId">
        update user_info
        <set>
            <if test="nickName!=null and nickName!=''">
                ,nick_name=#{nickName}
            </if>
            <if test="email!=null and email!=''">
                ,email=#{email}
            </if>
            <if test="password!=null and password!=''">
                ,password=#{password}
            </if>
            <if test="sex!=null and sex!=-1">
                ,sex=#{sex}
            </if>
            <if test="lastLoginTime!=null">
                ,last_login_time=#{lastLoginTime}
            </if>
            <if test="lastLoginIp!=null and lastLoginIp!=''">
                ,last_login_ip=#{lastLoginIp}
            </if>
            <if test="lastLoginIpAddress!=null and lastLoginIpAddress!=''">
                ,last_login_ip_address=#{lastLoginIpAddress}
            </if>
            <if test=" totalIntegral!=null and  totalIntegral!=-1">
                ,total_integral=#{ totalIntegral}
            </if>
            <if test=" currentIntegral!=null and  currentIntegral!=-1">
                ,current_integral=#{ currentIntegral}
            </if>
        </set>
        where user_id=#{userId}
    </update>
<!--    //同理-->
<!--    public Integer updateUserByEmail(UserInfo userInfo);-->
    <update id="updateUserByEmail">
        update user_info
        <set>
            <if test="nickName!=null and nickName!=''">
                ,nick_name=#{nickName}
            </if>
            <if test="password!=null and password!=''">
                ,password=#{password}
            </if>
            <if test="sex!=null and sex!=-1">
                ,sex=#{sex}
            </if>
            <if test="lastLoginTime!=null">
                ,last_login_time=#{lastLoginTime}
            </if>
            <if test="lastLoginIp!=null and lastLoginIp!=''">
                ,last_login_ip=#{lastLoginIp}
            </if>
            <if test="lastLoginIpAddress!=null and lastLoginIpAddress!=''">
                ,last_login_ip_address=#{lastLoginIpAddress}
            </if>
            <if test=" totalIntegral!=null and  totalIntegral!=-1">
                ,total_integral=#{ totalIntegral}
            </if>
            <if test=" currentIntegral!=null and  currentIntegral!=-1">
                ,current_integral=#{ currentIntegral}
            </if>
        </set>
        where email=#{email}
    </update>

    <!--    public Integer DeleteUserByNickName(UserInfo userInfo);-->
    <delete id="deleteUserByNickName">
        delete from user_info where nick_name=#{nickName}
    </delete>
<!--    //同理-->
<!--    public Integer DeleteUserByUserId(UserInfo userInfo);-->
    <delete id="deleteUserByUserId">
        delete from user_info where user_id=#{userId}
    </delete>
<!--    //同理-->
<!--    public Integer DeleteUserByEmail(UserInfo userInfo);-->
    <delete id="deleteUserByEmail">
        delete from user_info where email=#{email}
    </delete>


    <select id="selectCertainInfo" resultType="com.example.easybbsweb.domain.entity.UserInfo">
        select * from user_info <where>
        <if test="email!=null and email!=''">
            or   email=#{email}
        </if>
        <if test="password!=null and password!=''">
            or  password=#{password}
        </if>
        <if test="password!=null and password!=''">
            or  user_id=#{userId}
        </if>
    </where>
    </select>

    <select id="selectMultiInfo" resultType="com.example.easybbsweb.domain.entity.UserInfo">
        select * from user_info <where>
        <if test="email!=null and email!=''">
            or   email=#{email}
        </if>
        <if test="password!=null and password!=''">
            or  password=#{password}
        </if>
        <if test="password!=null and password!=''">
            or  user_id=#{userId}
        </if>
    </where>
    </select>
</mapper>