<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.easybbsweb.mapper.UserMainMapper">
  <resultMap id="BaseResultMap" type="com.example.easybbsweb.domain.entity.UserMain">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="uni_id" jdbcType="BIGINT" property="uniId" />
    <result column="lawyer_id" jdbcType="BIGINT" property="lawyerId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="email_code" jdbcType="VARCHAR" property="emailCode" />
    <result column="check_code" jdbcType="VARCHAR" property="checkCode" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="area" jdbcType="VARCHAR" property="area" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, uni_id, lawyer_id, create_time, email_code, check_code, last_update_time, 
    area
  </sql>
  <select id="selectByExample" parameterType="com.example.easybbsweb.domain.entity.UserMainExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_main
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_main
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_main
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.easybbsweb.domain.entity.UserMainExample">
    delete from user_main
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.easybbsweb.domain.entity.UserMain">
    insert into user_main (id, user_id, uni_id, 
      lawyer_id, create_time, email_code, 
      check_code, last_update_time, area
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, #{uniId,jdbcType=BIGINT}, 
      #{lawyerId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{emailCode,jdbcType=VARCHAR}, 
      #{checkCode,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=TIMESTAMP}, #{area,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.easybbsweb.domain.entity.UserMain">
    insert into user_main
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="uniId != null">
        uni_id,
      </if>
      <if test="lawyerId != null">
        lawyer_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="emailCode != null">
        email_code,
      </if>
      <if test="checkCode != null">
        check_code,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
      <if test="area != null">
        area,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="uniId != null">
        #{uniId,jdbcType=BIGINT},
      </if>
      <if test="lawyerId != null">
        #{lawyerId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="emailCode != null">
        #{emailCode,jdbcType=VARCHAR},
      </if>
      <if test="checkCode != null">
        #{checkCode,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="area != null">
        #{area,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.easybbsweb.domain.entity.UserMainExample" resultType="java.lang.Long">
    select count(*) from user_main
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectBatchByIds" resultType="com.example.easybbsweb.domain.entity.UserInfo">

    </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_main
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.uniId != null">
        uni_id = #{record.uniId,jdbcType=BIGINT},
      </if>
      <if test="record.lawyerId != null">
        lawyer_id = #{record.lawyerId,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.emailCode != null">
        email_code = #{record.emailCode,jdbcType=VARCHAR},
      </if>
      <if test="record.checkCode != null">
        check_code = #{record.checkCode,jdbcType=VARCHAR},
      </if>
      <if test="record.lastUpdateTime != null">
        last_update_time = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.area != null">
        area = #{record.area,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_main
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=BIGINT},
      uni_id = #{record.uniId,jdbcType=BIGINT},
      lawyer_id = #{record.lawyerId,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      email_code = #{record.emailCode,jdbcType=VARCHAR},
      check_code = #{record.checkCode,jdbcType=VARCHAR},
      last_update_time = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      area = #{record.area,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.easybbsweb.domain.entity.UserMain">
    update user_main
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="uniId != null">
        uni_id = #{uniId,jdbcType=BIGINT},
      </if>
      <if test="lawyerId != null">
        lawyer_id = #{lawyerId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="emailCode != null">
        email_code = #{emailCode,jdbcType=VARCHAR},
      </if>
      <if test="checkCode != null">
        check_code = #{checkCode,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.easybbsweb.domain.entity.UserMain">
    update user_main
    set user_id = #{userId,jdbcType=BIGINT},
      uni_id = #{uniId,jdbcType=BIGINT},
      lawyer_id = #{lawyerId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      email_code = #{emailCode,jdbcType=VARCHAR},
      check_code = #{checkCode,jdbcType=VARCHAR},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      area = #{area,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>